html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.breadcrumbs{
    position: relative;
    z-index: auto;
    border-bottom: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    min-height: 41px;
    line-height: 40px;
    padding: 0 12px 0 15px;
}

.breadcrumb{
    background-color: transparent;
    display: inline-block;
    line-height: 20px;
    margin: 6px 22px 0 0;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
  }

  .breadcrumb > li, .breadcrumb > li.active{
    color: #555555;
    padding: 0 3px 0 3px;
  }

  .breadcrumb > li{
    display: inline-block;
  }

.page-header{
    margin: 0 0 5px;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 0;
    padding-top: 7px;
}

.page-header h1{
    padding: 0;
    margin: 0 8px 0 0;
    font-size: 24px;
    font-weight: lighter;
    color: #5CB85C;
    font-weight: bold;

}

.asterisco{
  color: red;
}

a{
  color: #5CB85C;
  text-decoration: none;
}

a:focus, a:hover {
    color: #5cb85c;
    text-decoration: underline;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
    background-color: #5cb85c !important;
    border-color: #e7e7e7 !important;
}

.green{
    color: #5CB85C;
}
.red{
    color: #C7290C;
}
.blue{
    color: #1975CA;
}

.footer{
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 30px;
  padding: 20px 20px 0 20px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  color: #fff;
  cursor: default;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.pagination>li>a, .pagination>li>span {
  color: #5CB85C;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #5CB85C;
  background-color: #eee;
  border-color: #ddd;
}

.imagen{
  border: 1px solid #5CB85C;
  padding: 5px;
}

.field-caclagunas-laguimag{
  margin-bottom: -10px;
}

.field-cacespecies-espeimag{
  margin-bottom: -10px;
}

.field-cacequipos-equiimag{
  margin-bottom: -10px;
}

.field-cacalimentos-alimimag{
  margin-bottom: -10px;
}

.field-cacclientes-usuaimag{
  margin-bottom: -10px;
}

.field-cacempleados-usuaimag{
  margin-bottom: -10px;
}

.field-cacusuarios-usuaimag{
  margin-bottom: -10px;
}
